.cache
.idea
.DS_Store

composer.phar
composer.lock
vendor/

docker/.env

.phpunit.result.cache
.phpunit.cache/
phpunit
phpunit.xml
coverage.clover
coverage.xml

phpstan.neon
.phpstan.cache/

infection.json
infection*.log
infection-log.json
infection-per-mutator.md
