<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         backupGlobals="false"
         backupStaticProperties="false"
         convertDeprecationsToExceptions="true"
         colors="true"
         cacheDirectory="/app/.cache/phpunit"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
>
    <coverage/>
    <php/>
    <testsuites>
        <testsuite name="TQ Shamir">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>./src/</directory>
        </include>
    </source>
</phpunit>
